@charset "UTF-8";
/* Fonts
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* Colors
   ========================================================================== */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* ==========================================================================
   #SPACING
   ========================================================================== */
/**
 * Simple spacing classes
 */
.m-0 {
  margin: 0px;
}

.p-0 {
  padding: 0px;
}

.m-1 {
  margin: 10px;
}

.p-1 {
  padding: 10px;
}

.m-2 {
  margin: 20px;
}

.p-2 {
  padding: 20px;
}

.m-3 {
  margin: 30px;
}

.p-3 {
  padding: 30px;
}

.m-4 {
  margin: 40px;
}

.p-4 {
  padding: 40px;
}

.m-5 {
  margin: 50px;
}

.p-5 {
  padding: 50px;
}

.m-6 {
  margin: 60px;
}

.p-6 {
  padding: 60px;
}

.m-7 {
  margin: 70px;
}

.p-7 {
  padding: 70px;
}

.m-8 {
  margin: 80px;
}

.p-8 {
  padding: 80px;
}

.m-9 {
  margin: 90px;
}

.p-9 {
  padding: 90px;
}

.m-10 {
  margin: 100px;
}

.p-10 {
  padding: 100px;
}

.mt-0 {
  margin-top: 0px;
}

.pt-0 {
  padding-top: 0px;
}

.mt-1 {
  margin-top: 10px;
}

.pt-1 {
  padding-top: 10px;
}

.mt-2 {
  margin-top: 20px;
}

.pt-2 {
  padding-top: 20px;
}

.mt-3 {
  margin-top: 30px;
}

.pt-3 {
  padding-top: 30px;
}

.mt-4 {
  margin-top: 40px;
}

.pt-4 {
  padding-top: 40px;
}

.mt-5 {
  margin-top: 50px;
}

.pt-5 {
  padding-top: 50px;
}

.mt-6 {
  margin-top: 60px;
}

.pt-6 {
  padding-top: 60px;
}

.mt-7 {
  margin-top: 70px;
}

.pt-7 {
  padding-top: 70px;
}

.mt-8 {
  margin-top: 80px;
}

.pt-8 {
  padding-top: 80px;
}

.mt-9 {
  margin-top: 90px;
}

.pt-9 {
  padding-top: 90px;
}

.mt-10 {
  margin-top: 100px;
}

.pt-10 {
  padding-top: 100px;
}

.mb-0 {
  margin-bottom: 0px;
}

.pb-0 {
  padding-bottom: 0px;
}

.mb-1 {
  margin-bottom: 10px;
}

.pb-1 {
  padding-bottom: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.pb-2 {
  padding-bottom: 20px;
}

.mb-3 {
  margin-bottom: 30px;
}

.pb-3 {
  padding-bottom: 30px;
}

.mb-4 {
  margin-bottom: 40px;
}

.pb-4 {
  padding-bottom: 40px;
}

.mb-5 {
  margin-bottom: 50px;
}

.pb-5 {
  padding-bottom: 50px;
}

.mb-6 {
  margin-bottom: 60px;
}

.pb-6 {
  padding-bottom: 60px;
}

.mb-7 {
  margin-bottom: 70px;
}

.pb-7 {
  padding-bottom: 70px;
}

.mb-8 {
  margin-bottom: 80px;
}

.pb-8 {
  padding-bottom: 80px;
}

.mb-9 {
  margin-bottom: 90px;
}

.pb-9 {
  padding-bottom: 90px;
}

.mb-10 {
  margin-bottom: 100px;
}

.pb-10 {
  padding-bottom: 100px;
}

.ml-0 {
  margin-left: 0px;
}

.pl-0 {
  padding-left: 0px;
}

.ml-1 {
  margin-left: 10px;
}

.pl-1 {
  padding-left: 10px;
}

.ml-2 {
  margin-left: 20px;
}

.pl-2 {
  padding-left: 20px;
}

.ml-3 {
  margin-left: 30px;
}

.pl-3 {
  padding-left: 30px;
}

.ml-4 {
  margin-left: 40px;
}

.pl-4 {
  padding-left: 40px;
}

.ml-5 {
  margin-left: 50px;
}

.pl-5 {
  padding-left: 50px;
}

.ml-6 {
  margin-left: 60px;
}

.pl-6 {
  padding-left: 60px;
}

.ml-7 {
  margin-left: 70px;
}

.pl-7 {
  padding-left: 70px;
}

.ml-8 {
  margin-left: 80px;
}

.pl-8 {
  padding-left: 80px;
}

.ml-9 {
  margin-left: 90px;
}

.pl-9 {
  padding-left: 90px;
}

.ml-10 {
  margin-left: 100px;
}

.pl-10 {
  padding-left: 100px;
}

.mr-0 {
  margin-right: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.mr-1 {
  margin-right: 10px;
}

.pr-1 {
  padding-right: 10px;
}

.mr-2 {
  margin-right: 20px;
}

.pr-2 {
  padding-right: 20px;
}

.mr-3 {
  margin-right: 30px;
}

.pr-3 {
  padding-right: 30px;
}

.mr-4 {
  margin-right: 40px;
}

.pr-4 {
  padding-right: 40px;
}

.mr-5 {
  margin-right: 50px;
}

.pr-5 {
  padding-right: 50px;
}

.mr-6 {
  margin-right: 60px;
}

.pr-6 {
  padding-right: 60px;
}

.mr-7 {
  margin-right: 70px;
}

.pr-7 {
  padding-right: 70px;
}

.mr-8 {
  margin-right: 80px;
}

.pr-8 {
  padding-right: 80px;
}

.mr-9 {
  margin-right: 90px;
}

.pr-9 {
  padding-right: 90px;
}

.mr-10 {
  margin-right: 100px;
}

.pr-10 {
  padding-right: 100px;
}

@media (min-width: 480px) {
  .m-sm-0 {
    margin: 0px;
  }

  .p-sm-0 {
    padding: 0px;
  }
}
@media (min-width: 480px) {
  .m-sm-1 {
    margin: 10px;
  }

  .p-sm-1 {
    padding: 10px;
  }
}
@media (min-width: 480px) {
  .m-sm-2 {
    margin: 20px;
  }

  .p-sm-2 {
    padding: 20px;
  }
}
@media (min-width: 480px) {
  .m-sm-3 {
    margin: 30px;
  }

  .p-sm-3 {
    padding: 30px;
  }
}
@media (min-width: 480px) {
  .m-sm-4 {
    margin: 40px;
  }

  .p-sm-4 {
    padding: 40px;
  }
}
@media (min-width: 480px) {
  .m-sm-5 {
    margin: 50px;
  }

  .p-sm-5 {
    padding: 50px;
  }
}
@media (min-width: 480px) {
  .m-sm-6 {
    margin: 60px;
  }

  .p-sm-6 {
    padding: 60px;
  }
}
@media (min-width: 480px) {
  .m-sm-7 {
    margin: 70px;
  }

  .p-sm-7 {
    padding: 70px;
  }
}
@media (min-width: 480px) {
  .m-sm-8 {
    margin: 80px;
  }

  .p-sm-8 {
    padding: 80px;
  }
}
@media (min-width: 480px) {
  .m-sm-9 {
    margin: 90px;
  }

  .p-sm-9 {
    padding: 90px;
  }
}
@media (min-width: 480px) {
  .m-sm-10 {
    margin: 100px;
  }

  .p-sm-10 {
    padding: 100px;
  }
}
@media (min-width: 480px) {
  .mt-sm-0 {
    margin-top: 0px;
  }

  .pt-sm-0 {
    padding-top: 0px;
  }
}
@media (min-width: 480px) {
  .mt-sm-1 {
    margin-top: 10px;
  }

  .pt-sm-1 {
    padding-top: 10px;
  }
}
@media (min-width: 480px) {
  .mt-sm-2 {
    margin-top: 20px;
  }

  .pt-sm-2 {
    padding-top: 20px;
  }
}
@media (min-width: 480px) {
  .mt-sm-3 {
    margin-top: 30px;
  }

  .pt-sm-3 {
    padding-top: 30px;
  }
}
@media (min-width: 480px) {
  .mt-sm-4 {
    margin-top: 40px;
  }

  .pt-sm-4 {
    padding-top: 40px;
  }
}
@media (min-width: 480px) {
  .mt-sm-5 {
    margin-top: 50px;
  }

  .pt-sm-5 {
    padding-top: 50px;
  }
}
@media (min-width: 480px) {
  .mt-sm-6 {
    margin-top: 60px;
  }

  .pt-sm-6 {
    padding-top: 60px;
  }
}
@media (min-width: 480px) {
  .mt-sm-7 {
    margin-top: 70px;
  }

  .pt-sm-7 {
    padding-top: 70px;
  }
}
@media (min-width: 480px) {
  .mt-sm-8 {
    margin-top: 80px;
  }

  .pt-sm-8 {
    padding-top: 80px;
  }
}
@media (min-width: 480px) {
  .mt-sm-9 {
    margin-top: 90px;
  }

  .pt-sm-9 {
    padding-top: 90px;
  }
}
@media (min-width: 480px) {
  .mt-sm-10 {
    margin-top: 100px;
  }

  .pt-sm-10 {
    padding-top: 100px;
  }
}
@media (min-width: 480px) {
  .mb-sm-0 {
    margin-bottom: 0px;
  }

  .pb-sm-0 {
    padding-bottom: 0px;
  }
}
@media (min-width: 480px) {
  .mb-sm-1 {
    margin-bottom: 10px;
  }

  .pb-sm-1 {
    padding-bottom: 10px;
  }
}
@media (min-width: 480px) {
  .mb-sm-2 {
    margin-bottom: 20px;
  }

  .pb-sm-2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 480px) {
  .mb-sm-3 {
    margin-bottom: 30px;
  }

  .pb-sm-3 {
    padding-bottom: 30px;
  }
}
@media (min-width: 480px) {
  .mb-sm-4 {
    margin-bottom: 40px;
  }

  .pb-sm-4 {
    padding-bottom: 40px;
  }
}
@media (min-width: 480px) {
  .mb-sm-5 {
    margin-bottom: 50px;
  }

  .pb-sm-5 {
    padding-bottom: 50px;
  }
}
@media (min-width: 480px) {
  .mb-sm-6 {
    margin-bottom: 60px;
  }

  .pb-sm-6 {
    padding-bottom: 60px;
  }
}
@media (min-width: 480px) {
  .mb-sm-7 {
    margin-bottom: 70px;
  }

  .pb-sm-7 {
    padding-bottom: 70px;
  }
}
@media (min-width: 480px) {
  .mb-sm-8 {
    margin-bottom: 80px;
  }

  .pb-sm-8 {
    padding-bottom: 80px;
  }
}
@media (min-width: 480px) {
  .mb-sm-9 {
    margin-bottom: 90px;
  }

  .pb-sm-9 {
    padding-bottom: 90px;
  }
}
@media (min-width: 480px) {
  .mb-sm-10 {
    margin-bottom: 100px;
  }

  .pb-sm-10 {
    padding-bottom: 100px;
  }
}
@media (min-width: 480px) {
  .ml-sm-0 {
    margin-left: 0px;
  }

  .pl-sm-0 {
    padding-left: 0px;
  }
}
@media (min-width: 480px) {
  .ml-sm-1 {
    margin-left: 10px;
  }

  .pl-sm-1 {
    padding-left: 10px;
  }
}
@media (min-width: 480px) {
  .ml-sm-2 {
    margin-left: 20px;
  }

  .pl-sm-2 {
    padding-left: 20px;
  }
}
@media (min-width: 480px) {
  .ml-sm-3 {
    margin-left: 30px;
  }

  .pl-sm-3 {
    padding-left: 30px;
  }
}
@media (min-width: 480px) {
  .ml-sm-4 {
    margin-left: 40px;
  }

  .pl-sm-4 {
    padding-left: 40px;
  }
}
@media (min-width: 480px) {
  .ml-sm-5 {
    margin-left: 50px;
  }

  .pl-sm-5 {
    padding-left: 50px;
  }
}
@media (min-width: 480px) {
  .ml-sm-6 {
    margin-left: 60px;
  }

  .pl-sm-6 {
    padding-left: 60px;
  }
}
@media (min-width: 480px) {
  .ml-sm-7 {
    margin-left: 70px;
  }

  .pl-sm-7 {
    padding-left: 70px;
  }
}
@media (min-width: 480px) {
  .ml-sm-8 {
    margin-left: 80px;
  }

  .pl-sm-8 {
    padding-left: 80px;
  }
}
@media (min-width: 480px) {
  .ml-sm-9 {
    margin-left: 90px;
  }

  .pl-sm-9 {
    padding-left: 90px;
  }
}
@media (min-width: 480px) {
  .ml-sm-10 {
    margin-left: 100px;
  }

  .pl-sm-10 {
    padding-left: 100px;
  }
}
@media (min-width: 480px) {
  .mr-sm-0 {
    margin-right: 0px;
  }

  .pr-sm-0 {
    padding-right: 0px;
  }
}
@media (min-width: 480px) {
  .mr-sm-1 {
    margin-right: 10px;
  }

  .pr-sm-1 {
    padding-right: 10px;
  }
}
@media (min-width: 480px) {
  .mr-sm-2 {
    margin-right: 20px;
  }

  .pr-sm-2 {
    padding-right: 20px;
  }
}
@media (min-width: 480px) {
  .mr-sm-3 {
    margin-right: 30px;
  }

  .pr-sm-3 {
    padding-right: 30px;
  }
}
@media (min-width: 480px) {
  .mr-sm-4 {
    margin-right: 40px;
  }

  .pr-sm-4 {
    padding-right: 40px;
  }
}
@media (min-width: 480px) {
  .mr-sm-5 {
    margin-right: 50px;
  }

  .pr-sm-5 {
    padding-right: 50px;
  }
}
@media (min-width: 480px) {
  .mr-sm-6 {
    margin-right: 60px;
  }

  .pr-sm-6 {
    padding-right: 60px;
  }
}
@media (min-width: 480px) {
  .mr-sm-7 {
    margin-right: 70px;
  }

  .pr-sm-7 {
    padding-right: 70px;
  }
}
@media (min-width: 480px) {
  .mr-sm-8 {
    margin-right: 80px;
  }

  .pr-sm-8 {
    padding-right: 80px;
  }
}
@media (min-width: 480px) {
  .mr-sm-9 {
    margin-right: 90px;
  }

  .pr-sm-9 {
    padding-right: 90px;
  }
}
@media (min-width: 480px) {
  .mr-sm-10 {
    margin-right: 100px;
  }

  .pr-sm-10 {
    padding-right: 100px;
  }
}
@media (min-width: 768px) {
  .m-md-0 {
    margin: 0px;
  }

  .p-md-0 {
    padding: 0px;
  }
}
@media (min-width: 768px) {
  .m-md-1 {
    margin: 10px;
  }

  .p-md-1 {
    padding: 10px;
  }
}
@media (min-width: 768px) {
  .m-md-2 {
    margin: 20px;
  }

  .p-md-2 {
    padding: 20px;
  }
}
@media (min-width: 768px) {
  .m-md-3 {
    margin: 30px;
  }

  .p-md-3 {
    padding: 30px;
  }
}
@media (min-width: 768px) {
  .m-md-4 {
    margin: 40px;
  }

  .p-md-4 {
    padding: 40px;
  }
}
@media (min-width: 768px) {
  .m-md-5 {
    margin: 50px;
  }

  .p-md-5 {
    padding: 50px;
  }
}
@media (min-width: 768px) {
  .m-md-6 {
    margin: 60px;
  }

  .p-md-6 {
    padding: 60px;
  }
}
@media (min-width: 768px) {
  .m-md-7 {
    margin: 70px;
  }

  .p-md-7 {
    padding: 70px;
  }
}
@media (min-width: 768px) {
  .m-md-8 {
    margin: 80px;
  }

  .p-md-8 {
    padding: 80px;
  }
}
@media (min-width: 768px) {
  .m-md-9 {
    margin: 90px;
  }

  .p-md-9 {
    padding: 90px;
  }
}
@media (min-width: 768px) {
  .m-md-10 {
    margin: 100px;
  }

  .p-md-10 {
    padding: 100px;
  }
}
@media (min-width: 768px) {
  .mt-md-0 {
    margin-top: 0px;
  }

  .pt-md-0 {
    padding-top: 0px;
  }
}
@media (min-width: 768px) {
  .mt-md-1 {
    margin-top: 10px;
  }

  .pt-md-1 {
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  .mt-md-2 {
    margin-top: 20px;
  }

  .pt-md-2 {
    padding-top: 20px;
  }
}
@media (min-width: 768px) {
  .mt-md-3 {
    margin-top: 30px;
  }

  .pt-md-3 {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  .mt-md-4 {
    margin-top: 40px;
  }

  .pt-md-4 {
    padding-top: 40px;
  }
}
@media (min-width: 768px) {
  .mt-md-5 {
    margin-top: 50px;
  }

  .pt-md-5 {
    padding-top: 50px;
  }
}
@media (min-width: 768px) {
  .mt-md-6 {
    margin-top: 60px;
  }

  .pt-md-6 {
    padding-top: 60px;
  }
}
@media (min-width: 768px) {
  .mt-md-7 {
    margin-top: 70px;
  }

  .pt-md-7 {
    padding-top: 70px;
  }
}
@media (min-width: 768px) {
  .mt-md-8 {
    margin-top: 80px;
  }

  .pt-md-8 {
    padding-top: 80px;
  }
}
@media (min-width: 768px) {
  .mt-md-9 {
    margin-top: 90px;
  }

  .pt-md-9 {
    padding-top: 90px;
  }
}
@media (min-width: 768px) {
  .mt-md-10 {
    margin-top: 100px;
  }

  .pt-md-10 {
    padding-top: 100px;
  }
}
@media (min-width: 768px) {
  .mb-md-0 {
    margin-bottom: 0px;
  }

  .pb-md-0 {
    padding-bottom: 0px;
  }
}
@media (min-width: 768px) {
  .mb-md-1 {
    margin-bottom: 10px;
  }

  .pb-md-1 {
    padding-bottom: 10px;
  }
}
@media (min-width: 768px) {
  .mb-md-2 {
    margin-bottom: 20px;
  }

  .pb-md-2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) {
  .mb-md-3 {
    margin-bottom: 30px;
  }

  .pb-md-3 {
    padding-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .mb-md-4 {
    margin-bottom: 40px;
  }

  .pb-md-4 {
    padding-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .mb-md-5 {
    margin-bottom: 50px;
  }

  .pb-md-5 {
    padding-bottom: 50px;
  }
}
@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 60px;
  }

  .pb-md-6 {
    padding-bottom: 60px;
  }
}
@media (min-width: 768px) {
  .mb-md-7 {
    margin-bottom: 70px;
  }

  .pb-md-7 {
    padding-bottom: 70px;
  }
}
@media (min-width: 768px) {
  .mb-md-8 {
    margin-bottom: 80px;
  }

  .pb-md-8 {
    padding-bottom: 80px;
  }
}
@media (min-width: 768px) {
  .mb-md-9 {
    margin-bottom: 90px;
  }

  .pb-md-9 {
    padding-bottom: 90px;
  }
}
@media (min-width: 768px) {
  .mb-md-10 {
    margin-bottom: 100px;
  }

  .pb-md-10 {
    padding-bottom: 100px;
  }
}
@media (min-width: 768px) {
  .ml-md-0 {
    margin-left: 0px;
  }

  .pl-md-0 {
    padding-left: 0px;
  }
}
@media (min-width: 768px) {
  .ml-md-1 {
    margin-left: 10px;
  }

  .pl-md-1 {
    padding-left: 10px;
  }
}
@media (min-width: 768px) {
  .ml-md-2 {
    margin-left: 20px;
  }

  .pl-md-2 {
    padding-left: 20px;
  }
}
@media (min-width: 768px) {
  .ml-md-3 {
    margin-left: 30px;
  }

  .pl-md-3 {
    padding-left: 30px;
  }
}
@media (min-width: 768px) {
  .ml-md-4 {
    margin-left: 40px;
  }

  .pl-md-4 {
    padding-left: 40px;
  }
}
@media (min-width: 768px) {
  .ml-md-5 {
    margin-left: 50px;
  }

  .pl-md-5 {
    padding-left: 50px;
  }
}
@media (min-width: 768px) {
  .ml-md-6 {
    margin-left: 60px;
  }

  .pl-md-6 {
    padding-left: 60px;
  }
}
@media (min-width: 768px) {
  .ml-md-7 {
    margin-left: 70px;
  }

  .pl-md-7 {
    padding-left: 70px;
  }
}
@media (min-width: 768px) {
  .ml-md-8 {
    margin-left: 80px;
  }

  .pl-md-8 {
    padding-left: 80px;
  }
}
@media (min-width: 768px) {
  .ml-md-9 {
    margin-left: 90px;
  }

  .pl-md-9 {
    padding-left: 90px;
  }
}
@media (min-width: 768px) {
  .ml-md-10 {
    margin-left: 100px;
  }

  .pl-md-10 {
    padding-left: 100px;
  }
}
@media (min-width: 768px) {
  .mr-md-0 {
    margin-right: 0px;
  }

  .pr-md-0 {
    padding-right: 0px;
  }
}
@media (min-width: 768px) {
  .mr-md-1 {
    margin-right: 10px;
  }

  .pr-md-1 {
    padding-right: 10px;
  }
}
@media (min-width: 768px) {
  .mr-md-2 {
    margin-right: 20px;
  }

  .pr-md-2 {
    padding-right: 20px;
  }
}
@media (min-width: 768px) {
  .mr-md-3 {
    margin-right: 30px;
  }

  .pr-md-3 {
    padding-right: 30px;
  }
}
@media (min-width: 768px) {
  .mr-md-4 {
    margin-right: 40px;
  }

  .pr-md-4 {
    padding-right: 40px;
  }
}
@media (min-width: 768px) {
  .mr-md-5 {
    margin-right: 50px;
  }

  .pr-md-5 {
    padding-right: 50px;
  }
}
@media (min-width: 768px) {
  .mr-md-6 {
    margin-right: 60px;
  }

  .pr-md-6 {
    padding-right: 60px;
  }
}
@media (min-width: 768px) {
  .mr-md-7 {
    margin-right: 70px;
  }

  .pr-md-7 {
    padding-right: 70px;
  }
}
@media (min-width: 768px) {
  .mr-md-8 {
    margin-right: 80px;
  }

  .pr-md-8 {
    padding-right: 80px;
  }
}
@media (min-width: 768px) {
  .mr-md-9 {
    margin-right: 90px;
  }

  .pr-md-9 {
    padding-right: 90px;
  }
}
@media (min-width: 768px) {
  .mr-md-10 {
    margin-right: 100px;
  }

  .pr-md-10 {
    padding-right: 100px;
  }
}
@media (min-width: 1024px) {
  .m-lg-0 {
    margin: 0px;
  }

  .p-lg-0 {
    padding: 0px;
  }
}
@media (min-width: 1024px) {
  .m-lg-1 {
    margin: 10px;
  }

  .p-lg-1 {
    padding: 10px;
  }
}
@media (min-width: 1024px) {
  .m-lg-2 {
    margin: 20px;
  }

  .p-lg-2 {
    padding: 20px;
  }
}
@media (min-width: 1024px) {
  .m-lg-3 {
    margin: 30px;
  }

  .p-lg-3 {
    padding: 30px;
  }
}
@media (min-width: 1024px) {
  .m-lg-4 {
    margin: 40px;
  }

  .p-lg-4 {
    padding: 40px;
  }
}
@media (min-width: 1024px) {
  .m-lg-5 {
    margin: 50px;
  }

  .p-lg-5 {
    padding: 50px;
  }
}
@media (min-width: 1024px) {
  .m-lg-6 {
    margin: 60px;
  }

  .p-lg-6 {
    padding: 60px;
  }
}
@media (min-width: 1024px) {
  .m-lg-7 {
    margin: 70px;
  }

  .p-lg-7 {
    padding: 70px;
  }
}
@media (min-width: 1024px) {
  .m-lg-8 {
    margin: 80px;
  }

  .p-lg-8 {
    padding: 80px;
  }
}
@media (min-width: 1024px) {
  .m-lg-9 {
    margin: 90px;
  }

  .p-lg-9 {
    padding: 90px;
  }
}
@media (min-width: 1024px) {
  .m-lg-10 {
    margin: 100px;
  }

  .p-lg-10 {
    padding: 100px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-0 {
    margin-top: 0px;
  }

  .pt-lg-0 {
    padding-top: 0px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-1 {
    margin-top: 10px;
  }

  .pt-lg-1 {
    padding-top: 10px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-2 {
    margin-top: 20px;
  }

  .pt-lg-2 {
    padding-top: 20px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-3 {
    margin-top: 30px;
  }

  .pt-lg-3 {
    padding-top: 30px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-4 {
    margin-top: 40px;
  }

  .pt-lg-4 {
    padding-top: 40px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-5 {
    margin-top: 50px;
  }

  .pt-lg-5 {
    padding-top: 50px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-6 {
    margin-top: 60px;
  }

  .pt-lg-6 {
    padding-top: 60px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-7 {
    margin-top: 70px;
  }

  .pt-lg-7 {
    padding-top: 70px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-8 {
    margin-top: 80px;
  }

  .pt-lg-8 {
    padding-top: 80px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-9 {
    margin-top: 90px;
  }

  .pt-lg-9 {
    padding-top: 90px;
  }
}
@media (min-width: 1024px) {
  .mt-lg-10 {
    margin-top: 100px;
  }

  .pt-lg-10 {
    padding-top: 100px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-0 {
    margin-bottom: 0px;
  }

  .pb-lg-0 {
    padding-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-1 {
    margin-bottom: 10px;
  }

  .pb-lg-1 {
    padding-bottom: 10px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-2 {
    margin-bottom: 20px;
  }

  .pb-lg-2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-3 {
    margin-bottom: 30px;
  }

  .pb-lg-3 {
    padding-bottom: 30px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-4 {
    margin-bottom: 40px;
  }

  .pb-lg-4 {
    padding-bottom: 40px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-5 {
    margin-bottom: 50px;
  }

  .pb-lg-5 {
    padding-bottom: 50px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-6 {
    margin-bottom: 60px;
  }

  .pb-lg-6 {
    padding-bottom: 60px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-7 {
    margin-bottom: 70px;
  }

  .pb-lg-7 {
    padding-bottom: 70px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-8 {
    margin-bottom: 80px;
  }

  .pb-lg-8 {
    padding-bottom: 80px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-9 {
    margin-bottom: 90px;
  }

  .pb-lg-9 {
    padding-bottom: 90px;
  }
}
@media (min-width: 1024px) {
  .mb-lg-10 {
    margin-bottom: 100px;
  }

  .pb-lg-10 {
    padding-bottom: 100px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-0 {
    margin-left: 0px;
  }

  .pl-lg-0 {
    padding-left: 0px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-1 {
    margin-left: 10px;
  }

  .pl-lg-1 {
    padding-left: 10px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-2 {
    margin-left: 20px;
  }

  .pl-lg-2 {
    padding-left: 20px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-3 {
    margin-left: 30px;
  }

  .pl-lg-3 {
    padding-left: 30px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-4 {
    margin-left: 40px;
  }

  .pl-lg-4 {
    padding-left: 40px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-5 {
    margin-left: 50px;
  }

  .pl-lg-5 {
    padding-left: 50px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-6 {
    margin-left: 60px;
  }

  .pl-lg-6 {
    padding-left: 60px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-7 {
    margin-left: 70px;
  }

  .pl-lg-7 {
    padding-left: 70px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-8 {
    margin-left: 80px;
  }

  .pl-lg-8 {
    padding-left: 80px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-9 {
    margin-left: 90px;
  }

  .pl-lg-9 {
    padding-left: 90px;
  }
}
@media (min-width: 1024px) {
  .ml-lg-10 {
    margin-left: 100px;
  }

  .pl-lg-10 {
    padding-left: 100px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-0 {
    margin-right: 0px;
  }

  .pr-lg-0 {
    padding-right: 0px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-1 {
    margin-right: 10px;
  }

  .pr-lg-1 {
    padding-right: 10px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-2 {
    margin-right: 20px;
  }

  .pr-lg-2 {
    padding-right: 20px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-3 {
    margin-right: 30px;
  }

  .pr-lg-3 {
    padding-right: 30px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-4 {
    margin-right: 40px;
  }

  .pr-lg-4 {
    padding-right: 40px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-5 {
    margin-right: 50px;
  }

  .pr-lg-5 {
    padding-right: 50px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-6 {
    margin-right: 60px;
  }

  .pr-lg-6 {
    padding-right: 60px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-7 {
    margin-right: 70px;
  }

  .pr-lg-7 {
    padding-right: 70px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-8 {
    margin-right: 80px;
  }

  .pr-lg-8 {
    padding-right: 80px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-9 {
    margin-right: 90px;
  }

  .pr-lg-9 {
    padding-right: 90px;
  }
}
@media (min-width: 1024px) {
  .mr-lg-10 {
    margin-right: 100px;
  }

  .pr-lg-10 {
    padding-right: 100px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-0 {
    margin: 0px;
  }

  .p-xlg-0 {
    padding: 0px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-1 {
    margin: 10px;
  }

  .p-xlg-1 {
    padding: 10px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-2 {
    margin: 20px;
  }

  .p-xlg-2 {
    padding: 20px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-3 {
    margin: 30px;
  }

  .p-xlg-3 {
    padding: 30px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-4 {
    margin: 40px;
  }

  .p-xlg-4 {
    padding: 40px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-5 {
    margin: 50px;
  }

  .p-xlg-5 {
    padding: 50px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-6 {
    margin: 60px;
  }

  .p-xlg-6 {
    padding: 60px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-7 {
    margin: 70px;
  }

  .p-xlg-7 {
    padding: 70px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-8 {
    margin: 80px;
  }

  .p-xlg-8 {
    padding: 80px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-9 {
    margin: 90px;
  }

  .p-xlg-9 {
    padding: 90px;
  }
}
@media (min-width: 1280px) {
  .m-xlg-10 {
    margin: 100px;
  }

  .p-xlg-10 {
    padding: 100px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-0 {
    margin-top: 0px;
  }

  .pt-xlg-0 {
    padding-top: 0px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-1 {
    margin-top: 10px;
  }

  .pt-xlg-1 {
    padding-top: 10px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-2 {
    margin-top: 20px;
  }

  .pt-xlg-2 {
    padding-top: 20px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-3 {
    margin-top: 30px;
  }

  .pt-xlg-3 {
    padding-top: 30px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-4 {
    margin-top: 40px;
  }

  .pt-xlg-4 {
    padding-top: 40px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-5 {
    margin-top: 50px;
  }

  .pt-xlg-5 {
    padding-top: 50px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-6 {
    margin-top: 60px;
  }

  .pt-xlg-6 {
    padding-top: 60px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-7 {
    margin-top: 70px;
  }

  .pt-xlg-7 {
    padding-top: 70px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-8 {
    margin-top: 80px;
  }

  .pt-xlg-8 {
    padding-top: 80px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-9 {
    margin-top: 90px;
  }

  .pt-xlg-9 {
    padding-top: 90px;
  }
}
@media (min-width: 1280px) {
  .mt-xlg-10 {
    margin-top: 100px;
  }

  .pt-xlg-10 {
    padding-top: 100px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-0 {
    margin-bottom: 0px;
  }

  .pb-xlg-0 {
    padding-bottom: 0px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-1 {
    margin-bottom: 10px;
  }

  .pb-xlg-1 {
    padding-bottom: 10px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-2 {
    margin-bottom: 20px;
  }

  .pb-xlg-2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-3 {
    margin-bottom: 30px;
  }

  .pb-xlg-3 {
    padding-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-4 {
    margin-bottom: 40px;
  }

  .pb-xlg-4 {
    padding-bottom: 40px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-5 {
    margin-bottom: 50px;
  }

  .pb-xlg-5 {
    padding-bottom: 50px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-6 {
    margin-bottom: 60px;
  }

  .pb-xlg-6 {
    padding-bottom: 60px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-7 {
    margin-bottom: 70px;
  }

  .pb-xlg-7 {
    padding-bottom: 70px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-8 {
    margin-bottom: 80px;
  }

  .pb-xlg-8 {
    padding-bottom: 80px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-9 {
    margin-bottom: 90px;
  }

  .pb-xlg-9 {
    padding-bottom: 90px;
  }
}
@media (min-width: 1280px) {
  .mb-xlg-10 {
    margin-bottom: 100px;
  }

  .pb-xlg-10 {
    padding-bottom: 100px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-0 {
    margin-left: 0px;
  }

  .pl-xlg-0 {
    padding-left: 0px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-1 {
    margin-left: 10px;
  }

  .pl-xlg-1 {
    padding-left: 10px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-2 {
    margin-left: 20px;
  }

  .pl-xlg-2 {
    padding-left: 20px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-3 {
    margin-left: 30px;
  }

  .pl-xlg-3 {
    padding-left: 30px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-4 {
    margin-left: 40px;
  }

  .pl-xlg-4 {
    padding-left: 40px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-5 {
    margin-left: 50px;
  }

  .pl-xlg-5 {
    padding-left: 50px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-6 {
    margin-left: 60px;
  }

  .pl-xlg-6 {
    padding-left: 60px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-7 {
    margin-left: 70px;
  }

  .pl-xlg-7 {
    padding-left: 70px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-8 {
    margin-left: 80px;
  }

  .pl-xlg-8 {
    padding-left: 80px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-9 {
    margin-left: 90px;
  }

  .pl-xlg-9 {
    padding-left: 90px;
  }
}
@media (min-width: 1280px) {
  .ml-xlg-10 {
    margin-left: 100px;
  }

  .pl-xlg-10 {
    padding-left: 100px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-0 {
    margin-right: 0px;
  }

  .pr-xlg-0 {
    padding-right: 0px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-1 {
    margin-right: 10px;
  }

  .pr-xlg-1 {
    padding-right: 10px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-2 {
    margin-right: 20px;
  }

  .pr-xlg-2 {
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-3 {
    margin-right: 30px;
  }

  .pr-xlg-3 {
    padding-right: 30px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-4 {
    margin-right: 40px;
  }

  .pr-xlg-4 {
    padding-right: 40px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-5 {
    margin-right: 50px;
  }

  .pr-xlg-5 {
    padding-right: 50px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-6 {
    margin-right: 60px;
  }

  .pr-xlg-6 {
    padding-right: 60px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-7 {
    margin-right: 70px;
  }

  .pr-xlg-7 {
    padding-right: 70px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-8 {
    margin-right: 80px;
  }

  .pr-xlg-8 {
    padding-right: 80px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-9 {
    margin-right: 90px;
  }

  .pr-xlg-9 {
    padding-right: 90px;
  }
}
@media (min-width: 1280px) {
  .mr-xlg-10 {
    margin-right: 100px;
  }

  .pr-xlg-10 {
    padding-right: 100px;
  }
}
/* ==========================================================================
   #RESET
   ========================================================================== */
/**
 * A very simple reset that sits on top of Normalize.css.
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

/**
 * Remove trailing margins from nested lists.
 */
li > ol,
li > ul {
  margin-bottom: 0;
}

/**
 * Remove default table spacing.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * 1. Reset Chrome and Firefox behaviour which sets a `min-width: min-content;`
 *    on fieldsets.
 */
fieldset {
  min-width: 0;
  /* [1] */
  border: 0;
}

/* ==========================================================================
   #LAYOUT
   ========================================================================== */
/* Simple flexbox layout system */
.d-flex {
  display: flex;
}

.d-flex-center {
  justify-content: center;
  align-items: center;
}

.d-flex-wrap {
  flex-wrap: wrap;
}

.d-block {
  display: block;
}

/* ==========================================================================
   #WRAPPER
   ========================================================================== */
/**
 * Page-level constraining and wrapping elements.
 */
body:not(.has-scrollbar) .wrapper-stretched {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%) !important;
  margin-right: calc(-50vw + 50%) !important;
  left: 0 !important;
}

body.has-scrollbar .wrapper-stretched {
  width: calc(100vw - var(--scroll-bar)) !important;
  margin-left: calc(-50vw + 50% + var(--scroll-bar) / 2) !important;
  margin-right: calc(-50vw + 50% + var(--scroll-bar) / 2) !important;
}

.wrapper-basic {
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

/* ==========================================================================
   #PAGE
   ========================================================================== */
/**
 * Simple page-level setup.
 *
 * 1. Set the default `font-size` and `line-height` for the entire project.
 * 2. Force scrollbars to always be visible to prevent awkward ‘jumps’ when
 *    navigating between pages that do/do not have enough content to produce
 *    scrollbars naturally.
 * 3. Ensure the page always fills at least the entire height of the viewport.
 */
:root {
  --scroll-bar: 8px;
}

html {
  color: #707070;
  font-size: 10px;
  /* [1] */
  line-height: 1.3;
  /* [1] */
  min-height: 100%;
  /* [3] */
  overflow-y: scroll;
  /* [2] */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "brother-1816-printed", Arial, sans-serif;
  font-weight: 400;
}

p {
  color: #707070;
}

/* ==========================================================================
   #HEADINGS
   ========================================================================== */
/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */
h1, h2, h3, h4, h5, h6, .heading-family {
  font-family: "Proxima Nova", Arial, sans-serif;
  line-height: 1.3;
  color: #707070;
}

.text-header {
  /* 32px */
  font-size: 3.2rem;
}

.text-heading {
  /* 28px */
  font-size: 2.8rem;
}

.t-sub-one {
  /* 24px */
  font-size: 2.4rem;
}

.t-sub-two {
  /* 18px */
  font-size: 1.8rem;
}

.text-button {
  /* 16px */
  font-size: 1.6rem;
}

.text-body {
  /* 14px */
  font-size: 1.4rem;
}

.text-description {
  /* 12px */
  font-size: 1.2rem;
  line-height: 0.8;
}

.text-link {
  /* 10px */
  font-size: 1rem;
}

.text-period {
  /* 8px */
  font-size: 0.8rem;
}

.text-time {
  /* 6px */
  font-size: 0.6rem;
}

/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */
/**
 * Font Colors
 */
.color-black {
  color: #707070;
}

/**
 * Font Weights
 */
.f-300 {
  font-weight: 300;
}

.f-400 {
  font-weight: 400;
}

.f-500 {
  font-weight: 500;
}

.f-600 {
  font-weight: 600;
}

.f-700 {
  font-weight: 700;
}

/**
 * Fonts
 */
.f-proxima-nova {
  font-family: "Proxima Nova", Arial, sans-serif;
}

.f-brother {
  font-family: "brother-1816-printed", Arial, sans-serif;
}

.f-readex {
  font-family: "Readex Pro", sans-serif;
}

.f-arial {
  font-family: "Arial", sans-serif;
}

/**
 * Line Heights
 */
.line-reset {
  line-height: 1;
}

/**
 * Letter Spacing
 */
/* ==========================================================================
   #LINKS
   ========================================================================== */
a {
  text-decoration: none;
  color: inherit;
}

/* ==========================================================================
   #BUTTONS
   ========================================================================== */
.u-btn, .u-btn--cancel, .u-btn--confirm, .u-btn--delete {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 17px;
  line-height: 1.125;
  background-color: #79B2FF;
  border: 2px solid transparent;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 110px;
  border-radius: 30px;
  white-space: nowrap;
  cursor: pointer;
}

.u-btn-curve {
  display: inline-block;
  padding: 8px 36px 11px 32px;
  background-color: #A4CFA7;
  color: #FFF;
  font-size: 1.6rem;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
  transition: all 200ms linear;
  text-transform: uppercase;
}
.u-btn-curve:hover {
  background-color: #A9C84B;
}

.u-btn--delete {
  background-color: #EA9191;
}
.u-btn--delete:after {
  content: "✕";
  margin-left: 17px;
}

.u-btn--confirm {
  background-color: #EA9191;
}
.u-btn--confirm:after {
  content: "⨯";
  color: #EA9191;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17px;
  height: 17px;
  padding-right: 1px;
  background-color: #FFF;
  border-radius: 100%;
  margin: -2px 0 0 10px;
}

.u-btn--cancel {
  background-color: #FFF;
  color: #79B2FF;
  border: 2px solid #79B2FF;
}

/* ==========================================================================
   #IMAGES
   ========================================================================== */
.img-fluid {
  max-width: 100%;
  height: auto;
  width: 100%;
}

/* ==========================================================================
   #SWITCHES
   ========================================================================== */
.u-switch {
  position: relative;
  display: inline-block;
  width: 155px;
  height: 30px;
}

.u-switch__checkbox {
  display: none;
}
.u-switch__checkbox:checked + .u-switch__slider:before {
  transform: translate(83px, -50%);
}
.u-switch__checkbox:not(:checked) ~ .u-switch__text > .u-switch__unchecked, .u-switch__checkbox:checked ~ .u-switch__text > .u-switch__checked {
  color: #FFF;
}

.u-switch__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F9F9F9;
  transition: all 200ms linear;
  border-radius: 7px;
}

.u-switch__slider:before {
  position: absolute;
  content: "";
  height: 24px;
  width: 66px;
  left: 3px;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #79B2FF;
  transition: all 200ms linear;
  border-radius: 4px;
}

.u-switch__text {
  color: #D5D5D5;
  cursor: pointer;
  transition: all 200ms linear;
}

.u-switch__unchecked {
  position: absolute;
  top: 8px;
  left: 26px;
  transition: all 200ms linear;
}

.u-switch__checked {
  position: absolute;
  top: 8px;
  right: 24px;
  transition: all 200ms linear;
}

.u-input {
  background-color: #F3F3F3;
  padding: 8px;
  border-radius: 5px;
  color: #707070;
  font-size: 1.2rem;
  border: none;
  outline: none;
}
.u-input::-moz-placeholder {
  color: #D5D5D5;
}
.u-input:-ms-input-placeholder {
  color: #D5D5D5;
}
.u-input::placeholder {
  color: #D5D5D5;
}

/* ==========================================================================
   #ALIGN
   ========================================================================== */
.u-text-center {
  text-align: center;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

/* ==========================================================================
   #DISPLAY
   ========================================================================== */
.d-mobile {
  display: block;
}
@media (min-width: 1024px) {
  .d-mobile {
    display: none;
  }
}

.d-medium {
  display: none;
}
@media (min-width: 768px) {
  .d-medium {
    display: block;
  }
}

.d-desktop {
  display: none;
}
@media (min-width: 1024px) {
  .d-desktop {
    display: block;
  }
}
