// ==========================================================================
// #GLOBAL
// ==========================================================================
// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.

$global-radius: 5px !default;
$global-opacity: 0.4;
$global-transition: all 200ms linear !default;
$btn-radius: 30px;

/* Fonts
   ========================================================================== */

$proxima-nova: 'Proxima Nova', Arial, sans-serif;
$brother: 'brother-1816-printed', Arial, sans-serif;
$readex-pro: 'Readex Pro', sans-serif;
$arial: 'Arial', sans-serif;


/* Breakpoints
   ========================================================================== */

$breakpoints: (
  small: 480px,
  medium: 768px,
  large: 1024px,
  xlarge: 1280px,
  full: 1600px,
  retina: 2500px,
);

/* Colors
   ========================================================================== */

// Colors shouldn't be used directly but reassigned
$c-blue: #6AADB2;
$c-blue-2: #1B2340;
$c-blue-3: #1D233E;
$c-blue-4: #2C3B77;
$c-blue-5: #7AE3CA;;
$c-blue-6: #79B2FF;
$c-blue-7: #27346C;
$c-blue-8: #91BDEA;
$c-blue-9: #9891EA;
$c-blue-10: #D9E9FF;
$c-blue-11: #E9F2FB;
$c-blue-12: #EAE9FB;
$c-blue-13: #F7FBFB;
$c-blue-14: #F1F7FF;
$c-blue-15: #D9F2F4;
$c-blue-16: #F8FBFF;
$c-blue-17: #9CF0DC;
$c-blue-18: #C0BCF2;
$c-blue-19: #B3D4F7;
$c-blue-20: #91EAD5;
$c-blue-21: #E4F9F4;
$c-blue-22: #B1D1F9;
$c-blue-23: #6A749F;
$c-blue-24: #FCFDFF;
$c-blue-25: #F7FAFF;
$c-blue-26: #F0F7F7;
$c-blue-27: #E3F0FC;
$c-white: #FFF;
$c-gray-1: #707070;
$c-gray-2: #FCFCFC;
$c-gray-3: #D5D5D5;
$c-gray-4: #797979;
$c-gray-5: #9F9F9F;
$c-gray-8: #F2F2F2;
$c-gray-9: #F9F9F9;
$c-gray-10: #F3F3F3;
$c-gray-11: #B9B9B9;
$c-gray-12: #EBEBEB;
$c-gray-13: #BABABA;
$c-green: #A4CFA7;
$c-green-2: #A9C84B;
$c-green-3: #AFC65E;
$c-brown: #5D4829;
$c-brown-2: #48382C;
$c-red: #D86868;
$c-red-2: #DD979E;
$c-red-3: #EA9191;
$c-red-4: #F89F9F;
$c-red-5: #FBE9E9;
$c-red-6: #F0B0B0;
$c-purple: #D591EA;
$c-purple-2: #F7E9FB;
$c-purple-3: #E8B6F7;
$c-yellow: #F2F3D3;

// Text
$ct: $c-gray-1;
$ct-blue: $c-blue;
$ct-blue-2: $c-blue-2;
$ct-blue-3: $c-blue-3;
$ct-blue-5: $c-blue-5;
$ct-blue-6: $c-blue-6;
$ct-blue-7: $c-blue-7;
$ct-blue-8: $c-blue-8;
$ct-blue-9: $c-blue-9;
$ct-green-3: $c-green-3;
$ct-white: $c-white;
$ct-gray-1: $c-gray-1;
$ct-gray-3: $c-gray-3;
$ct-gray-4: $c-gray-4;
$ct-gray-5: $c-gray-5;
$ct-gray-11: $c-gray-11;
$ct-gray-13: $c-gray-13;
$ct-red-3: $c-red-3;
$ct-purple: $c-purple;


// Background
$cbg-white: $c-white;
$cbg-blue: $c-blue;
$cbg-blue-2: $c-blue-2;
$cbg-blue-5: $c-blue-5;
$cbg-blue-6: $c-blue-6;
$cbg-blue-8: $c-blue-8;
$cbg-blue-9: $c-blue-9;
$cbg-blue-10: $c-blue-10;
$cbg-blue-11: $c-blue-11;
$cbg-blue-12: $c-blue-12;
$cbg-blue-13: $c-blue-13;
$cbg-blue-14: $c-blue-14;
$cbg-blue-15: $c-blue-15;
$cbg-blue-16: $c-blue-16;
$cbg-blue-21: $c-blue-21;
$cbg-blue-22: $c-blue-22;
$cbg-blue-23: $c-blue-23;
$cbg-blue-24: $c-blue-24;
$cbg-blue-25: $c-blue-25;
$cbg-blue-26: $c-blue-26;
$cbg-purple: $c-purple;
$cbg-purple-2: $c-purple-2;
$cbg-red-3: $c-red-3;
$cbg-red-4: $c-red-4;
$cbg-red-5: $c-red-5;
$cbg-gray-2: $c-gray-2;
$cbg-gray-9: $c-gray-9;
$cbg-gray-10: $c-gray-10;
$cbg-gray-12: $c-gray-12;
$cbg-green: $c-green;
$cbg-green-2: $c-green-2;


// Borders
$cb-green: $c-green;
$cb-blue-6: $c-blue-6;
$cb-blue-9: $c-blue-9;
$cb-blue-17: $c-blue-17;
$cb-blue-18: $c-blue-18;
$cb-blue-20: $c-blue-20;
$cb-blue-27: $c-blue-27;
$cb-purple: $c-purple;
$cb-purple-3: $c-purple-3;
$cb-red: $c-red;
$cb-red-6: $c-red-6;
$cb-gray-3: $c-gray-3;
$cb-gray-10: $c-gray-10;
$cb-white: $c-white;

// RGBA
$rgba-blue: rgba(121,178,255,0.25);
$rgba-blue-2: rgba(44,59,119,0.701);

// Z-Index
$z-lvl-1: 100;
$z-lvl-2: 200;
$z-lvl-3: 300;
$z-lvl-4: 400;

// Font Family
$heading-family: $proxima-nova;
$text-family: $brother;
$text-readex: $readex-pro;
$text-arial: $arial;

