/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.u-btn {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 17px;
    line-height: 1.125;
    background-color: $cbg-blue-6;
    border: 2px solid transparent;
    color: $ct-white;
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 110px;
    border-radius: $btn-radius;
    white-space: nowrap;
    cursor: pointer;
}

.u-btn-curve {
    display: inline-block;
    padding: 8px 36px 11px 32px;
    background-color: $cbg-green;
    color: $ct-white;
    font-size: 1.6rem;
    font-weight: 700;
    white-space: nowrap;
    cursor: pointer;
    transition: $global-transition;
    text-transform: uppercase;

    &:hover {
        background-color: $cbg-green-2;
    }
}

.u-btn--delete {
    @extend .u-btn;
    background-color: $cbg-red-3;

    &:after {
        content: "\2715";
        margin-left: 17px;
    }
}

.u-btn--confirm {
    @extend .u-btn;
    background-color: $cbg-red-3;

    &:after {
        content: "\2A2F";
        color: $ct-red-3;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 17px;
        height: 17px;
        padding-right: 1px;
        background-color: $cbg-white;
        border-radius: 100%;
        margin: -2px 0 0 10px;
    }
}

.u-btn--cancel {
    @extend .u-btn;
    background-color: $cbg-white;
    color: $ct-blue-6;
    border: 2px solid $cb-blue-6;
}
