/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


h1, h2, h3, h4, h5, h6, .heading-family {
    font-family: $heading-family;
    line-height: 1.3;
    color: $ct;
}

.text-header { /* 32px */
    font-size: 3.2rem;
}

.text-heading { /* 28px */
    font-size: 2.8rem;
}

.t-sub-one { /* 24px */
    font-size: 2.4rem;
}

.t-sub-two { /* 18px */
    font-size: 1.8rem;
}

.text-button { /* 16px */
    font-size: 1.6rem;
}

.text-body { /* 14px */
    font-size: 1.4rem;
}

.text-description { /* 12px */
    font-size: 1.2rem;
    line-height: 0.8;
}

.text-link { /* 10px */
    font-size: 1rem;
}

.text-period { /* 8px */
    font-size: 0.8rem;
}

.text-time { /* 6px */
    font-size: 0.6rem;
}
