.u-input {
    background-color: $cbg-gray-10;
    padding: 8px;
    border-radius: $global-radius;
    color: $ct;
    font-size: 1.2rem;
    border: none;
    outline: none;

    &::placeholder {
        color: $ct-gray-3;
    }
}
