/* ==========================================================================
   #SWITCHES
   ========================================================================== */

.u-switch {
    position: relative;
    display: inline-block;
    width: 155px;
    height: 30px;
}

.u-switch__checkbox {
    display: none;

    &:checked + .u-switch__slider:before {
        transform: translate(83px, -50%);
    }

    &:not(:checked) ~ .u-switch__text > .u-switch__unchecked,
    &:checked ~ .u-switch__text > .u-switch__checked {
        color: $ct-white;
    }
}

.u-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cbg-gray-9;
    transition: $global-transition;
    border-radius: 7px;
}

.u-switch__slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 66px;
    left: 3px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: $cbg-blue-6;
    transition: $global-transition;
    border-radius: 4px;
}

.u-switch__text {
    color: $ct-gray-3;
    cursor: pointer;
    transition: $global-transition;
}

.u-switch__unchecked {
    position: absolute;
    top: 8px;
    left: 26px;
    transition: $global-transition;
}

.u-switch__checked {
    position: absolute;
    top: 8px;
    right: 24px;
    transition: $global-transition;
}
