/* ==========================================================================
   #TYPOGRAPHY & COLORS & FONT WEIGHTS & LINE HEIGHTS
   ========================================================================== */

/**
 * Font Colors
 */

.color-black {
    color: $ct;
}

/**
 * Font Weights
 */

.f-300 {
    font-weight: 300;
}

.f-400 {
    font-weight: 400;
}

.f-500 {
    font-weight: 500;
}

.f-600 {
    font-weight: 600;
}

.f-700 {
    font-weight: 700;
}

/**
 * Fonts
 */

.f-proxima-nova {
    font-family: $heading-family;
}

.f-brother {
    font-family: $text-family;
}

.f-readex {
    font-family: $text-readex;
}

.f-arial {
    font-family: $text-arial;
}



/**
 * Line Heights
 */

.line-reset {
    line-height: 1;
}


/**
 * Letter Spacing
 */
